.cards__list {
  display: grid;
  column-gap: 17px;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  grid-template-rows: 361px;
  grid-auto-columns: 282px;
  grid-auto-rows: 361px;
  justify-content: center;
}

