.profile {
  /* border: .5px dashed white; */
  display: grid;
  grid-template-columns: min-content 1fr min-content;
}

@media screen and (max-width: 618px) {
  .profile {
    grid-template-columns: 1fr;
  }
}