.cards__image {
  width: 100%;
  height: 282px;
  object-fit: cover;
  object-position: top;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  cursor: pointer;
  transition: all .2s ease-in-out;
  color: transparent;
}