.cards__image {
  width: 100%;
  height: 282px;
  object-fit: cover;
  object-position: top;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s ease-in-out;
  color: transparent;
}
