.cards__item {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 282px 79px;
  align-items: center;
}