.cards__like-btn {
  margin: 0 20px 0 35px;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like_btn_ico/like_btn_ico_disabled.svg);
  transition: opacity .1s linear;
}

.cards__like-btn:hover {
  opacity: 50%;
}