.form__submit {
  border: 0;
  border-radius: 2px;
  margin: 13px 0 35px;
  font-size: 18px;
  width: 358px;
  height: 50px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.08s linear, transform 0.05s linear;
}

.form__submit:hover {
  opacity: 80%;
}

@media screen and (max-width: 618px) {
  .form__submit {
    width: 238px;
    height: 46px;
    font-size: 14px;
    margin: 12px 0 25px;
  }
}
