.cards__like-btn {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like_btn_ico/like_btn_ico_disabled.svg);
  transition: all 0.08s linear;
}

.cards__like-btn:hover {
  opacity: 50%;
  transform: scale(1.15);
}

.cards__like-btn:active {
  transform: scale(1);
}
