@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/__section/page__section.css);
@import url(../blocks/page/__section/_place/page__section_place_header.css);
@import url(../blocks/page/__section/_place/page__section_place_profile.css);
@import url(../blocks/page/__section/_place/page__section_place_cards.css);
@import url(../blocks/page/__section/_place/page__section_place_footer.css);
@import url(../blocks/page-text/page-text.css);
@import url(../blocks/section-line/section-line.css);
@import url(../blocks//page-list/page-list.css);
@import url(../blocks/page-btn/page-btn.css);
@import url(../blocks/page-btn/__ico/_type/page-btn__ico_type_add.css);
@import url(../blocks/page-btn/__ico/_type/page-btn__ico_type_edit.css);
@import url(../blocks/page-btn/_type/page-btn_type_edit.css);
@import url(../blocks/page-btn/_type/page-btn_type_add.css);
/*Шапка сайта*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
/*Основная часть сайта*/
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__about/profile__about.css);
@import url(../blocks/cards/__list/cards__list.css);
@import url(../blocks/cards/__item/cards__item.css);
@import url(../blocks/cards/__image/cards__image.css);
@import url(../blocks/cards/__heading/cards__heading.css);
@import url(../blocks/cards/__like-btn/cards__like-btn.css);
@import url(../blocks/cards/__like-btn-ico/__like-btn-ico.css);
@import url(../blocks/cards/__like-btn-ico/_active/cards__like-btn-ico_active.css);

/*Подвал сайта*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
/*Модальное окно*/
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__container/_type/popup__container_type_edit-form.css);
@import url(../blocks/popup/__close-ico/popup__close-ico.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/__profile-edit/popup__profile-edit.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__submit/popup__submit.css);