.cards__like-btn-ico_active {
  background-image: url(../../../../images/like_btn_ico/like_btn_ico_active.svg);
  transition: transform .1s linear;
}

.cards__like-btn-ico_active:hover {
  opacity: 100%;
  transform: scale(1.07);
}