.page-btn {
  box-sizing: border-box;
  background: none;
  border: none;
  font-size: 18px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 0.08s linear, transform 0.05s linear;
}

.page-btn:hover {
  opacity: 60%;
}

.page-btn:active {
  transform: scale(0.95);
}
