.page-btn {
  box-sizing: border-box;
  background: none;
  border: none; 
  font-size: 18px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: opacity .08s linear, transform .05s linear;
}

.page-btn:hover {
  opacity: 60%;
}
